body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    width: 600px;
    margin: auto;
    padding: 40px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background: #2563eb;
    border: none;
    color: white;
}
